@import "tailwindcss";

:root {
  --theme-background: #17190c;
  --theme-surface: #35590a;
  --theme-border: #5f8310;
  --theme-text: #ffffff;
  --theme-text-muted: #748c58;
  --theme-primary: #9db71c;
  --theme-secondary: #2c4406;
  --theme-accent: #fcfdf9;
}
